<?xml version="1.0"?>

<launch>
  <arg name="namespace" default="/vigir/terrain_classifier" />
  <arg name="args" default="" />

  <group ns="$(arg namespace)">
    <node name="vigir_point_cloud_portioner" pkg="vigir_terrain_classifier" type="point_cloud_portioner_node" respawn="true" output="screen" />
    <rosparam file="$(find vigir_terrain_classifier)/config/point_cloud_portioner.yaml" command="load" />

    <node name="vigir_terrain_classifier" pkg="vigir_terrain_classifier" type="terrain_classifier_node" args="$(arg args)" respawn="true" output="screen"/>
    <rosparam file="$(find vigir_terrain_classifier)/config/terrain_classifier.yaml" command="load" />
  </group>
</launch>
